In [1]:
import pandas as pd

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\lenovo\appdata\roaming\python\python37\site-packages (from pandas) (1.18.2)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\lenovo\appdata\roaming\python\python37\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [2]:
my_series = pd.Series([5, 6, 7, 8, 9, 10])

In [4]:
my_series

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [5]:
my_series.values

array([ 5,  6,  7,  8,  9, 10], dtype=int64)

In [6]:
my_series.index

RangeIndex(start=0, stop=6, step=1)

In [9]:
my_series[my_series > 0]

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [10]:
df = pd.DataFrame({
...     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
...     'population': [17.04, 143.5, 9.5, 45.5],
...     'square': [2724902, 17125191, 207600, 603628]
... })

In [11]:
df['country']

0    Kazakhstan
1        Russia
2       Belarus
3       Ukraine
Name: country, dtype: object

In [12]:
 df.columns

Index(['country', 'population', 'square'], dtype='object')

In [16]:
df1 = pd.DataFrame({
...     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
...     'population': [17.04, 143.5, 9.5, 45.5],
...     'square': [2724902, 17125191, 207600, 603628]
... }, index=['KZ', 'RU', 'BY', 'UA'])

In [19]:
df1.loc['KZ']

country       Kazakhstan
population         17.04
square           2724902
Name: KZ, dtype: object

In [24]:
df1.to_csv('newfile.csv')

In [27]:
df1 = pd.read_csv('iris.csv')

In [29]:
df1

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica